# Set current directory to vala source code repo directory
alias valasrc="cd ~/source/vala"
# Set current directory to the root folder of all my code projects
alias workspace="cd ~/workspace"
# Set current directory to sublime projects folder
alias sublime-projects="cd ~/workspace/sublime-projects"
alias notion="flatpak run org.mozilla.firefox https://www.notion.so&"

